body{
    background-image: url("https://png-library.com/images2/triangles/2/kisspng-triangle-text-geometric-triangle-background-graphics-5aaec53e371640.0652648015214031982256.jpg");
    background-repeat: no repeat;
    background-size: cover;
    text-align: center;
}
h1{
    color: blue
}